 header{

background-color:gray;
padding: 10px;
text-align:center;



   }

Image {
     width:100;
    border-radius:50%;
    height:100s;
}
   

   

   body{
background-color:#D0D0D0;
margin-left:200px;
margin-right:200px;
border:1px solid gray;

   }




   Personal{
    
    font-family:"AR JULIAN";

}

Social{
    
    font-family:"AR JULIAN";
}

Education{

    font-family:"AR JULIAN";
}

Goals{
    
    font-family:"AR JULIAN";
}

Hobby{
    font-family:"AR JULIAN";

}






  